{% extends "layout.html" %}

{% block content %}
<form action="/book_add_process" method="post" enctype="multipart/form-data">
<form class="needs-validation" novalidate>
    <div class = "form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" placeholder="book title">
        <div class="valid-feedback">
            error
        </div>
    </div>
    <div class = "form-group">
        <label for="file">저 자</label>
        <input type="text" class="form-control-file" id="title" placeholder="book image file">
    </div>
    <div class="form-group">
        <label for="file">표 지</label>
        <input type="file" class="form-control" id="file" name="file" placeholder="표지 사진 선택...">
    </div>
    <div class="form-group">
        <label for="author">price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="가격 입력...">
    </div>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" placeholder="isbn 입력...">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary">등 록</button>
    </div>
</form>
</form>
{% endblock %}
